.header{
    background: #FFFF;
};

.header__inner{
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
};

.header__hogo{
    color: #FFFF00;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.content{
    background: #f0f0f0;
}